* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.section-header {

}
.section-title-text {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-top: 30px;
}
.section-title {
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-top: 10px;
  padding-bottom: 20px;
}
.section-title:after {
  width: 130px;
  content: "";
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: $colorPrimary;
}



//buttony
.btn {
  display: inline-block;
  padding: 20px 50px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background: $colorSecondary;
  border-radius: 40px;
  font-family: 'Nanito Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  transition: 0.4s all;
  cursor: pointer;
  position: relative;
}
.btn:hover {
  background: $colorPrimary;
}
.btn:focus {
  outline: none;
}
.btn:disabled {
  background: $colorSecondary;
  cursor: default;
  opacity:0.8;
}
.loading:before {
  content: "";
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid rgba(#fff, 0.2);
  border-radius: 50%;
  border-right-color: #fff;
  animation: aniLoading 0.5s 0s infinite linear;
}
@keyframes aniLoading {
  0% {transform: translateY(-50%) rotate(0deg);}
  100% {transform: translateY(-50%) rotate(360deg);}
}
